<header class="layout__header">
    <div class="layout__header-row">
        <span class="layout-title">Dashboard</span>

        <div class="layout-spacer"></div>
        <nav class="navigation layout--large-screen-only">
            <a class="navigation__link" href="{{ path('admin_homepage') }}">Accueil</a>
            <a class="navigation__link" href="{{ path('gite') }}">Géstions des gites</a>
        </nav>
    </div>
</header>
<div class="layout__drawer layout--small-screen-only">
    <span class="layout-title">Gite de ouf</span>
    <nav class="navigation">
        <a class="navigation__link" href="{{ path('admin_homepage') }}">Accueil</a>
        <a class="navigation__link" href="{{ path('gite') }}">Géstions des gites</a>
    </nav>
</div>
