{% extends "MainBundle:Main:layout.html.twig" %}
{% block body %}
    {% for gite in gites|slice (0, 2) %}
        <div class="cell cell--6-col">
            <p>
                <a href="{{ path('gite_view', { 'id':gite.id }) }}">{{ gite.name|raw }}</a>
            </p>

            <p>{{ gite.options }}</p>
            {{ gite.content|raw }}
            <br/>
        </div>
    {% else %}
        <li>Pas (encore !) d'article</li>
    {% endfor %}
{% endblock %}