{% extends "MainBundle::Main/layout.html.twig" %}

{% block body -%}
    <h1>Reservation creation</h1>

    {#{{ form(form) }}#}

    {{ form_start(form, {'attr': {'class': 'cell cell--12-col form-ui', 'id' : 'reservationGite'}}) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

{% endblock %}
