// out: app.min.css, outputStyle: compressed
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
// slider
.cb-slideshow {
  background: #000;
  height: 300px;
  overflow: hidden;
}
.cb-slideshow,
.cb-slideshow:after {
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.cb-slideshow:after {
    content: '';
    height: 100%;
    position: absolute;
    z-index: 1;
    background: transparent url(../../media/pattern.png) repeat top left;
}
.cb-slideshow li img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li:nth-child(1) img {  }
.cb-slideshow li:nth-child(2) img {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) img {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) img {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) img {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) img {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
@-webkit-keyframes imageAnimation {
    0% {
	    opacity: 0;
        -webkit-transform: scale(1.05);
	    -webkit-animation-timing-function: ease-in;
	}
	10% {
	    opacity: 1;
	    -webkit-transform: scale(1.10);
	}
	20% {
	    opacity: 1;
	    -webkit-transform: scale(1.15);
	}
	30% {
		opacity: 0;
		-webkit-transform: scale(1.20) ;
	}
	50% {
	    opacity: 0;
	    -webkit-transform: scale(1.20) ;
	}
	100% {
        opacity: 0 ;
        -webkit-transform: scale(1.20) ;
    }
}
@-moz-keyframes imageAnimation {
    0% {
	    opacity: 0;
        -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-in;
	}
	10% {
	    opacity: 1;
	    -moz-transform: scale(1.10);
	}
	20% {
	    opacity: 1;
	    -moz-transform: scale(1.15);
	}
	30% {
		opacity: 0;
		-moz-transform: scale(1.20) ;
	}
	50% {
	    opacity: 0;
	    -moz-transform: scale(1.20) ;
	}
	100% {
        opacity: 0 ;
        -moz-transform: scale(1.20) ;
    }
}
@-o-keyframes imageAnimation {
    0% {
        opacity: 0;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        -o-transform: scale(1.10);
    }
    20% {
        opacity: 1;
        -o-transform: scale(1.15);
    }
    30% {
        opacity: 0;
        -o-transform: scale(1.20) ;
    }
    50% {
        opacity: 0;
        -o-transform: scale(1.20) ;
    }
    100% {
        opacity: 0 ;
        -o-transform: scale(1.20) ;
    }
}
@-ms-keyframes imageAnimation {
    0% {
	    opacity: 0;
        -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-in;
	}
	10% {
	    opacity: 1;
	    -ms-transform: scale(1.10);
	}
	20% {
	    opacity: 1;
	    -ms-transform: scale(1.15);
	}
	30% {
		opacity: 0;
		-ms-transform: scale(1.20) ;
	}
	50% {
	    opacity: 0;
	    -ms-transform: scale(1.20) ;
	}
	100% {
        opacity: 0 ;
        -ms-transform: scale(1.20) ;
    }
}
@keyframes imageAnimation {
	0% {
	    opacity: 0;
        transform: scale(1.05);
	    animation-timing-function: ease-in;
	}
	10% {
	    opacity: 1;
	    transform: scale(1.10);
	}
	20% {
	    opacity: 1;
	    transform: scale(1.15);
	}
	30% {
		opacity: 0;
		-webkit-transform: scale(1.20) ;
	}
	50% {
	    opacity: 0;
	    -webkit-transform: scale(1.20) ;
	}
	100% {
        opacity: 0 ;
        -webkit-transform: scale(1.20) ;
    }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li img{
	opacity: 1;
}


//Custom
ul.cb-slideshow.cell.cell--12-col{
  margin: 0;
  padding: 0;
}
.grid{
  margin: -8px;
}
.t_center{ text-align: center;}
.t_left{ text-align: left;}
.t_right{ text-align: right;}
