{% extends "HomeBundle::Main/layout.html.twig" %}
{% block home_body %}
<h1>Les gites</h1>
{{ render(controller('GiteBundle:Gite:getListGites')) }}
<br>
<a href="{{ path('new_gite') }}">
	<button class="btn btn-success" type="button" name="button">
		Créer un nouveau gite
	</button>
</a>
{% endblock %}
