{% extends "HomeBundle::Main/layout.html.twig" %}
{% block home_body %}
    <p>{{ gite.id|raw }}</p>
    <p>{{ gite.name|raw }}</p>
    <p>{{ gite.options }}</p>
    {{ gite.content|raw }}
    <br/>
    <hr/>
{% endblock %}