{% extends "GiteBundle::Main/layout.html.twig" %}
{% block gite_body %}
<!-- <h1>Les gites</h1> -->
{{ render(controller('GiteBundle:Gite:getListGites')) }}
<br>
<a href="{{ path('gite_new') }}">
	<button class="btn btn-success" type="button" name="button">
		Créer un nouveau gite
	</button>
</a>
{% endblock %}
