{% extends "GiteBundle::Main/layout.html.twig" %}

{% block gite_body -%}
    <h1>Gite creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('gite') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
