{% extends "GiteBundle::Main/layout.html.twig" %}
{% block gite_body %}
<div class="grid">
	<div class="cell cell--12-col">
		<h1>{{ gite.name|raw }}</h1>
	</div>
	<div class="cell cell--8-col">
		<h3>Options du gite :</h3>
		{{ gite.options }}
		<p>{{ gite.content|raw }}</p>
		<br>
	</div>
	<div class="cell cell--4-col">
		<div class="grid">
			{{ render(controller('GiteBundle:Reservation:preresa', {'idGite' : gite.id})) }}
		</div>
	</div>
</div>
{% endblock %}
